* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


html {
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 16px;
}

body {
    border-sizing: inherit;
    margin: 1em;
    padding: 1em;
    background-color: #bdc3c7;
}

.header {
    display: flex;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-between;
    border-radius: 5em;

}

.navbar {
    margin: 1em;
    padding: 1em;
    display: inline-flex;
    flex-wrap: wrap;
}

.crumb {
    font-size: 1.2em;
    margin: 0.4em;
    padding: 0.6em;
    border-radius: 2em;
    background-color: black;
    color: aqua;
    text-decoration: none;
    cursor: pointer;

}

.crumb:hover {
    background: #d35400;
    color: black;
}

.h-tag {
    display: flex;
    font-family: cursive;
    margin: 0.5em;
    padding: 0.5em;
    border: 0.5em;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    margin: 2em;
    border: solid #16a085;
    flex-wrap: wrap;
    background-image: url("static/images/main-car.jpg");
}

.box {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 0.5em;
    border: solid #d35400;
    color: #34495e;
    background-color: azure;
    width: 40%;
    overflow: auto;
}

.label {
    font-size: 1.2em;
    font-family: cursive;
    font-weight: bold
}

.select {
    font-size: 0.8em;
    font-family: cursive;
    background-color: aqua;
    padding: 0.5em;
}

.register {
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-size: 1.2em;
    border: 1em solid;
    border-radius: 1em;
    margin: 1.5em;

}

.h2_register {
    color: #0328fc;
    margin-bottom: 1.5em;
}

.form {
    display: grid;
    border: 0.2em solid;
    padding: 1em;
}

.fetchDataButton {
    display: none;
}

.fetchDataButton{
display: none;
}

.fetchDataButton{
display: none;
}


