@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@400;800&display=swap');

@media (max-width: 600px) {

    .container-header {
        flex-direction: column;

    }

    .container-header p {
        width: 12ch;
    }

    body .container:nth-child(2) {
        display: none;
    }
}

* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}


html {
    font: 14px/1.5 Playpen, sans-serif;
}

img {
    height: 100%;
    width: auto;

}

body {
    background-repeat: no-repeat;
    background-image: url(../images/main-car.jpg);
    background-size: cover;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body .container:nth-child(1) {
    max-width: 100%;
    background-color: rgb(240, 46, 46);

}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
}

.container-header p {
    display: flex;
    align-items: center;
    gap: 0.2em;
    font-size: 2em;
}

.container-header p a {
    text-decoration: none;
    color: azure;
}

.container-header ul {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.container-header ul li,
.container-header ul li a {
    display: block;
    text-decoration: none;
    color: azure;
    font-size: 1.1em;
}

.container-header input {
    font-size: 1.1em;
    background-color: rgb(240, 46, 46);
    color: azure;
    border: none;
    cursor: pointer;
}

.container-banner,
.container-banner ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1.5em;
}

.container-banner li {
    display: block;
    width: 5em;
    height: 5em;
    overflow: hidden;
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0, 0, 0, 0.2);
    transition: width 0.3s ease-in-out;
    background-color: wheat;
}

.container-banner li:hover {
    width: 15em;
    height: 15em;
}

.container-banner li:hover img {
    transform: translateX(0);
}

body .container:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/baner-car1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 10em;

}

body .container:nth-child(3) span {
    font-size: 2em;
    font-style: italic;
    color: white;
}

.container-form,
form {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1em;
    align-items: center;
    gap: .5em;
}

.container-form form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}

.form label {
    display: none;
}

.form input, .form select {
    margin: .5em 0;
    min-width: 15em;
}

.button {
    padding: 0;
}

select {
    min-width: 15em;
}

.bg-error {
    padding: .5em;
    background-color: red;
    color: azure;
}

.container .container-admin {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-direction: row;
    background-color: white;
    margin: 0 auto;

}

.container-admin section {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
    align-items: center;
    margin: 1em;
    padding: 1em;
    background-color: aqua;
    border-radius: 1em;
    min-height: 15em;
}

.container-admin section p {
    display: flex;
    font-size: 1.5em;
    padding: 2em 0;
    max-width: 25ch;
    align-items: center;
}

.container-admin section p a {
    text-decoration: none;
    padding: 0.5em;
    border-radius: 1em;
    background-color: #BB8294FF;
    color: azure;

}