<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="html">
<head th:replace="~{fragments/head}">
    <title>Best Rent sa Car Company</title>
</head>

<body>
<div class="container">
    <header th:replace="~{fragments/header}"></header>
</div>

<div class="container"></div>

<div class="container">
    <div class="form">
        <span>ADD NEW CAR </span>
        <form th:method="post"
              th:action="@{/admin/new-car}"
              th:object="${newCar}">
            <label for="brand">BRAND</label>
            <input type="text"
                   id="brand"
                   th:field="*{brand}"
                   placeholder="Brand"/>
            <p th:if="${#fields.hasErrors('brand')}" th:errorclass="bg-error" th:errors="*{brand}"></p>

            <label for="model">MODEL</label>
            <input type="text"
                   id="model"
                   th:field="*{model}"
                   placeholder="Model"/>
            <p th:if="${#fields.hasErrors('model')}" th:errorclass="bg-error" th:errors="*{model}"></p>

            <label for="transmission">Transmission</label>
            <select id="transmission"
                    th:name="transmission">
                <option value="">--Select transmission</option>
                <option th:each="t : ${T(com.example.Rent_a_Car.model.enums.TransmissionsEnum).values()}"
                        th:text="${t}"
                        th:value="${t}"
                        th:selected="*{transmission} == ${t}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('transmission')}" th:errorclass="bg-error" th:errors="*{transmission}"></p>

            <label for="fuelType">Transmission</label>
            <select id="fuelType"
                    th:name="fuelType">
                <option value="">--Select fuelType</option>
                <option th:each="f : ${T(com.example.Rent_a_Car.model.enums.FuelTypeEnums).values()}"
                        th:text="${f}"
                        th:value="${f}"
                        th:selected="*{fuelType} == ${f}">
                </option>
            </select>
            <p th:if="${#fields.hasErrors('fuelType')}" th:errorclass="bg-error" th:errors="*{fuelType}"></p>

            <label for="vinNumber">Vin Number</label>
            <input type="text"
                   id="vinNumber"
                   th:field="*{vinNumber}"
                   placeholder="Vin Number"/>
            <p th:if="${#fields.hasErrors('vinNumber')}" th:errorclass="bg-error" th:errors="*{vinNumber}"></p>

            <label for="plate">Plate</label>
            <input type="text"
                   id="plate"
                   th:field="*{plate}"
                   placeholder="Plate"/>
            <p th:if="${#fields.hasErrors('plate')}" th:errorclass="bg-error" th:errors="*{plate}"></p>

            <label for="regDate">Registration Date</label>
            <input type="date"
                   id="regDate"
                   th:field="*{regDate}"/>
            <p th:if="${#fields.hasErrors('regDate')}" th:errorclass="bg-error" th:errors="*{regDate}"></p>

            <label for="rentPerDay">Price per day</label>
            <input type="text"
                   id="rentPerDay"
                   th:field="*{rentPerDay}"
                   placeholder="Price per day"/>
            <p th:if="${#fields.hasErrors('rentPerDay')}" th:errorclass="bg-error" th:errors="*{rentPerDay}"></p>

            <input type="submit" value="ADD NEW CAR">

        </form>
    </div>
</div>

</body>
</html>