<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="html">
<head th:replace="~{fragments/head}">
    <title>Best Rent sa Car Company</title>
</head>
<body>
<header th:replace="~{fragments/header}"></header>

<main class=" all">
    <h1>Welcome, </h1>
    <th:block sec:authorize="isAnonymous()">
        <h3>Please Register or Login</h3>
    </th:block>

    <th:block sec:authorize="isAuthenticated()">
        <h3 th:text="${fullName}"></h3>
    </th:block>
</main>
</body>
</html>