<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="html">

<head th:replace="~{fragments/head}"></head>

<body>

<header th:replace="~{fragments/header}"></header>

<main class="main">

    <div class="box register">

        <h2 class="h2_register">Login</h2>

        <!-- Login form start-->
        <form class="form"
              th:method="post"
              th:action="@{/auth/login}"
              th:object="${loginRequest}">

            <label th:for="email">Email</label>
            <input type="text"
                   id="username"
                   name="username"
                   th:value="${username}"
                   placeholder="Email"/>
            <p class="errors alert alert-danger">
                Email is required.
            </p>

            <label th:for="password">Password</label>
            <input
                   id="password"
                   name="password"
                   type="password"
                   class=""
                   placeholder="Password"/>
            <p class="errors alert alert-danger">
                 Password is required.
            </p>

            <div class="row">

                <div class="button-holder d-flex">
                    <input type="submit" id="authenticateButton" class="" value="LOGIN"/>
                </div>
            </div>

        </form>
    </div>

</main>
</body>
</html>