<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="html">

<head th:replace="~{fragments/head}">
    <title>Best Rent sa Car Company</title>
</head>

<body>

<header th:replace="~{fragments/header}"></header>

<div class="container">
    <section th:replace="~{fragments/banner}" ></section>
</div>


<div class="container">

    <div class="container-form">

        <h2 class="h2_register">Register User</h2>

        <!-- Registration form start-->
        <form class="form"
              th:method="post"
              th:action="@{/auth/register}"
              th:object="${registerRequest}">

            <label for="firstName">First Name</label>
            <input type="text"
                   id="firstName"
                   th:field="*{firstName}"
                   th:errorclass="bg-error"
                   placeholder="First name"/>

            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="error">Error</p>

            <label for="lastName">Last Name</label>
            <input type="text"
                   id="lastName"
                   th:field="*{lastName}"
                   th:errorclass="bg-error"
                   placeholder="Last name"/>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error">Error</p>

            <label for="email" class="">Email</label>
            <input type="text"
                   id="email"
                   th:field="*{email}"
                   th:errorclass="bg-error"
                   placeholder="Email"/>
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error">Error</p>


            <label for="password" class="">Email</label>
            <input type="password"
                   id="password"
                   th:field="*{password}"
                   th:errorclass="bg-error"
                   placeholder="Password"/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error">Error</p>

            <label for="confirmPassword" class="">Email</label>
            <input type="password"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   th:errorclass="bg-error"
                   placeholder="Confirm Password"/>
            <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="error">Error</p>


            <div class="form" th:object="${addressDTO}">

                <label for="town" class="">Town</label>
                <input type="text"
                       id="town"
                       th:field="*{town}"
                       th:errorclass="bg-error"
                       placeholder="Town"/>
                <p th:if="${#fields.hasErrors('town')}" th:errors="*{town}" class="error">Error</p>


                <label for="street" class="">Street</label>
                <input type="text"
                       id="street"
                       th:field="*{street}"
                       th:errorclass="bg-error"
                       placeholder="Street"/>
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}" class="error">Error</p>


                <label for="number" class="">Number</label>
                <input type="text"
                       id="number"
                       th:field="*{number}"
                       th:errorclass="bg-error"
                       placeholder="Number"/>
                <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="error">Error</p>


            </div>

            <div class="row">

                <div class="button-holder d-flex">
                    <input type="submit" class="" value="Register"/>
                </div>
            </div>

        </form>
    </div>
</div>
</body>
</html>