<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head}"></head>

<body>
<div class="container">
    <header th:replace="~{fragments/header}"></header>
</div>

<div class="container">
    <section th:replace="~{fragments/banner}"></section>
</div>

<div class="container">

    <div class="container-form">

        <h2 class="h2_register">Register User</h2>

        <!-- Registration form start-->
        <form
              th:method="post"
              th:action="@{/auth/register}"
              th:object="${registerRequest}">

            <label for="firstName">First Name</label>
            <input type="text"
                   id="firstName"
                   th:field="*{firstName}"
                   placeholder="First name"/>
            <ul>
                <li class="bg-error" th:each="err : ${#fields.errors('firstName')}"></li>
            </ul>

            <label for="lastName">Last Name</label>
            <input type="text"
                   id="lastName"
                   th:field="*{lastName}"
                   placeholder="Last name"/>
            <ul>
                <li class="bg-error" th:each="err : ${#fields.errors('lastName')}"></li>
            </ul>

            <label for="email" class="">Email</label>
            <input type="text"
                   id="email"
                   th:field="*{email}"
                   placeholder="Email"/>
            <ul>
                <li class="bg-error" th:each="err : ${#fields.errors('email')}"></li>
            </ul>

            <label for="password" class="">Email</label>
            <input type="password"
                   id="password"
                   th:field="*{password}"
                   placeholder="Password"/>
            <ul>
                <li class="bg-error" th:each="err : ${#fields.errors('password')}"></li>
            </ul>

            <label for="confirmPassword" class="">Email</label>
            <input type="password"
                   id="confirmPassword"
                   th:field="*{confirmPassword}"
                   placeholder="Confirm Password"/>
            <ul>
                <li class="bg-error" th:each="err : ${#fields.errors('confirmPassword')}"></li>
            </ul>

            <div  th:object="${address}">

                <label for="town" class="">Address</label>
                <input type="text"
                       id="town"
                       th:field="*{town}"
                       placeholder="Town"/>
                <ul>
                    <li class="bg-error" th:each="err : ${#fields.errors('town')}"></li>
                </ul>

                <label for="street" class="">Street</label>
                <input type="text"
                       id="street"
                       th:field="*{street}"
                       placeholder="Street"/>
                <ul>
                    <li class="bg-error" th:each="err : ${#fields.errors('street')}"></li>
                </ul>

                <label for="number" class="">Number</label>
                <input type="text"
                       id="number"
                       th:field="*{number}"
                       placeholder="Number"/>
                <ul>
                    <li class="bg-error" th:each="err : ${#fields.errors('number')}"></li>
                </ul>

            </div>

            <div class="row">

                <div class="button-holder d-flex">
                    <input type="submit" class="" value="Register"/>
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>